.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.sentryclirc
.github/**
coverage/**
.env
.env.*
.release-please-manifest.json
codecov.yml
package.json
release-please-config.json
artwork/**
docs/**
node_modules/**
package.json
.prettierrc
.eslintrc.json